Akun #{config.product_name} terhubung dengan aplikasi pihak ketiga

<div>Hai #{user.firstname},</div>
<br>
<div>Sepertinya Anda menghubungkan akun Anda <b>dengan aplikasi pihak ketiga</b> "#{t(provider)}".</div>
<br>
<div>Jika ini bukan Anda, harap hapus akun yang terhubung dari profil Anda dan ubah kata sandi aplikasi pihak ketiga Anda. Seseorang mungkin telah mendapatkan akses tidak sah ke akun Anda pada layanan pihak ketiga.</div>
<br>
<div>Tim #{config.product_name} Anda</div>
