#{config.product_name} račun je bil povezan z zunanjo aplikacijo

<div>Pozdravljeni, #{user.firstname},</div>
<br>
<div>Opazili smo, da ste svoj račun povezali z zunanjo aplikacijo <b>"#{t(provider)}"</b>.</div>
<br>
<div>Če tega niste storili vi, v svojem profilu odstranite to povezavo in spremenite geslo za to zunanjo aplikacijo. Mogoče je nekdo nepooblaščeno dostopal do vašega računa pri tej storitvi.</div>
<br>
<div>Ekipa #{config.product_name}</div>
