Обліковий запис #{config.product_name} пов’язаний із стороннім застосунком

<div>Привіт, #{user.firstname},</div>
<br>
<div>Здається, ви пов'язали свій обліковий запис <b>зі стороннім застосунком</b> "#{t(provider)}".</div>
<br>
<div>Якщо ви цього не робили, будь ласка, видаліть пов’язаний обліковий запис зі свого профілю та змініть пароль до стороннього застосунку. Можливо, хтось отримав несанкціонований доступ до вашого облікового запису на цьому сервісі.</div>
<br>
<div>Команда #{config.product_name}</div>
