工單 (#{ticket.title}) 已被升級

<div>您好, #{recipient.firstname}:</div>
<br>
<div>來自客戶「<b>#{ticket.customer.longname}</b>」的工單（#{ticket.title}）自「#{ticket.escalation_at}」起已經被升級！</div>
<br>
<% if @objects[:article] %>
  <div>
  資訊：:
  <blockquote type="cite">
  #{article.body_as_html}
  </blockquote>
  </div>
<% end %>
<br>
<div>
  <a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket.id}" target="zammad_app">在 #{config.product_name} 檢視此工單</a>
</div>
