A jegy eszkalálódni fog (#{ticket.title})

<div>Kedves #{recipient.firstname}!</div>
<br>
<div>A(z) „<b>#{ticket.customer.longname}</b>” ügyféltől származó jegy (#{ticket.title}) eszkalálódni fog ekkor: „#{ticket.escalation_at}”!</div>
<br>
<% if @objects[:article] %>
  <div>
  Információ:
  <blockquote type="cite">
  #{article.body_as_html}
  </blockquote>
  </div>
<% end %>
<br>
<div>
  <a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket.id}" target="zammad_app" >Nézze meg itt: #{config.product_name}</a>
</div>
