Заявку буде протерміновано (#{ticket.title})

<div>Вітаю #{recipient.firstname},</div>
<br>
<div>Заявку (#{ticket.title}) від "<b>#{ticket.customer.longname}</b>" буде протерміновано о "#{ticket.escalation_at}"!</div>
<br>
<% if @objects[:article] %>
  <div>
  Інформація:
  <blockquote type="cite">
  #{article.body_as_html}
  </blockquote>
  </div>
<% end %>
<br>
<div>
  <a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket.id}" target="zammad_app">Переглянути в #{config.product_name}</a>
</div>
