Ticket aggiornato (#{ticket.title})

<div>Buongiorno #{recipient.firstname},</div>
<br>
<div>
il ticket (#{ticket.title}) è stato aggiornato da "<b>#{current_user.longname}</b>".
</div>
<br>
<% if @objects[:changes].present? %>
  <div>
Modifiche:<br>
  <% @objects[:changes].each do |key, value| %>
    <%= t key %>: <%= h value[0] %> -&gt; <%= h value[1] %><br>
  <% end %>
  </div>
<% end %>
<br>

<br>
<div>
  <a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket.id}" target="zammad_app">Visualizza su #{config.product_name}</a>
</div>
