Заявку оновлено (#{ticket.title})

<div>Вітаю #{recipient.firstname},</div>
<br>
<div>
Заявку (#{ticket.title}) було оновлено користувачем "<b>#{current_user.longname}</b>".
</div>
<br>
<% if @objects[:changes].present? %>
  <div>
  Зміни:<br>
  <% @objects[:changes].each do |key, value| %>
    <%= t key %>: <%= h value[0] %> -&gt; <%= h value[1] %><br>
  <% end %>
  </div>
<% end %>
<br>

<br>
<div>
  <a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket.id}" target="zammad_app">Переглянути в #{config.product_name}</a>
</div>
