#{config.product_name} bejelentkezés új országból

<div>Kedves #{user.firstname}!</div>
<br>
<div>Úgy tűnik, hogy Ön <b>ismert eszközzel, de új országból</b> használta a fiókját „#{user_device.created_at}”-kor:</div>
<br>
<div>
Az Ön eszköze: #{user_device.name}<br>
Az Ön tartózkodási helye (relatív): #{user_device.location}<br>
Az Ön IP-címe: #{user_device.ip}<br>
</div>
<br>
<div>Az ország hozzá lett adva az ismert eszközök listájához, amelyet itt tekinthet meg:</div>
<br>
<div><a href="#{config.http_type}://#{config.fqdn}/#profile/devices">#{config.http_type}://#{config.fqdn}/#profile/devices</a></div>
<br>
<div>Ha ez nem Ön volt, akkor távolítsa el az eszközt, változtassa meg fiókja jelszavát, és vegye fel a kapcsolatot az adminisztrátorral. Lehet, hogy valaki jogosulatlan hozzáférést szerzett a fiókjához.</div>
<br>
<div>Az Ön #{config.product_name} csapata</div>
