Az Ön #{config.product_name} jelszava megváltozott

<p>Kedves #{user.firstname}!</p>
<br>
<p>Az Ön <b>#{user.login}</b> #{config.product_name}-fiókjának jelszava nemrég megváltozott.</p>
<br>
<p>Ha nem Ön kezdeményezte ezt a változást, akkor vegye fel a kapcsolatot a rendszer adminisztrátorával.</p>
<br>
<p>Az Ön #{config.product_name} csapata</p>
