Kata sandi #{config.product_name} Anda telah diubah

<p>Hai #{user.firstname},</p>
<br>
<p>Kata sandi untuk akun #{config.product_name} Anda <b>#{user.login}</b> baru-baru ini telah diubah.</p>
<br>
<p>Jika Anda tidak memulai perubahan ini, harap hubungi administrator sistem Anda.</p>
<br>
<p>Tim #{config.product_name} Anda</p>
