Hasło #{config.product_name} zostało zmienione

<p>Cześć #{użytkowniku.imię},</p>
<br>
<p>Hasło do konta użytkownika #{config.product_name} <b>#{user.login}</b> zostało ostatnio zmienione.</p>
<br>
<p>Jeśli ty nie zainicjowałeś tej zmiany, skontaktuj się z administratorem systemu.</p>
<br>
<p>Twój zespół #{config.product_name}</p>
