Ваш пароль #{config.product_name} було змінено

<p>Привіт #{user.firstname},</p>
<br>
<p>Нещодавно було змінено пароль до вашого #{config.product_name} облікового запису <b>#{user.login}</b>.</p>
<br>
<p>Якщо ви не ініціювали цю зміну — зверніться до вашого системного адміністратора..</p>
<br>
<p>Команда #{config.product_name}</p>
