Egy másik jegy egyesítve lett a jegybe (#{ticket.title})

<div>Kedves #{recipient.firstname}!</div>
<br>
<div>
Egy másik jegy egyesítve lett a jegybe (#{ticket.title}) „<b>#{current_user.longname}”</b> által.
</div>
<br>
<div>
  <a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket.id}" target="zammad_app">Nézze meg itt: #{config.product_name}</a>
</div>
