Erősítse meg a(z) #{config.product_name}-fiókját, #{user.lastname} #{user.firstname}

<div>Kedves #{user.firstname}!</div>
<br>
<div>Erősítse meg az e-mail-címét a(z) #{config.product_name}-fiókja befejezéséhez. Ez könnyű, csak kattintson az alábbi hivatkozásra.</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div>Az Ön #{config.product_name} csapata</div>
