Konfirmasi akun #{config.product_name} Anda, #{user.firstname} #{user.lastname}

<div>Hai #{user.firstname},</div>
<br>
<div>Konfirmasi alamat email Anda untuk menyelesaikan akun #{config.product_name} Anda. Mudah, cukup klik tautan di bawah ini.</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div>Tim #{config.product_name} Anda</div>
