#{config.product_name} 계정 확인, #{user.firstname} #{user.lastname}

<div>안녕하세요 #{user.firstname}님,</div>
<br>
<div>#{config.product_name} 계정을 완료하려면 이메일 주소를 확인하세요. 아래 링크를 클릭하기만 하면 됩니다.</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div>#{config.product_name} 팀</div>
