Confirme a sua conta #{config.product_name}, #{user.firstname} #{user.lastname}

<div>Olá #{user.firstname},</div>
<br>
<div>Confirme o seu endereço de e-mail para concluir a sua conta #{config.product_name}. É fácil, basta clicar no link abaixo.</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div>A sua equipa #{config.product_name}</div>
