確認您的 #{config.product_name} 帳，#{user.firstname} #{user.lastname}

<div>您好, #{user.firstname}:</div>
<br>
<div>確認你的電子郵件信箱來完成您的 #{config.product_name} 帳號，這非常簡單，請點擊下面的網址。</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div>您的 #{config.product_name} 團隊</div>
