새 티켓 (#{ticket.title})

<div>안녕하세요 #{recipient.firstname}님,</div>
<br>
<div>새 티켓 (#{ticket.title})이 "<b>#{current_user.longname}</b>"에 의해 생성되었습니다.</div>
<br>
<div>
그룹: #{ticket.group.name}<br>
소유자: #{ticket.owner.fullname}<br>
상태: #{t(ticket.state.name)}<br>
</div>
<br>
<% if @objects[:article] %>
  <div>
  정보:
  <blockquote type="cite">
  #{article.body_as_html}
  </blockquote>
  </div>
<% end %>
<br>
<div>
  <a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket.id}" target="zammad_app">#{config.product_name}에서 보기</a>
</div>
