Nový tiket (#{ticket.title})

<div>Dobrý deň, #{recipient.firstname},</div>
<br>
<div>Bol vytvorený nový tiket (#{ticket.title}) používateľom "<b>#{current_user.longname}</b>".</div>
<br>
<div>
Skupina: #{ticket.group.name}<br>
Vlastník: #{ticket.owner.fullname}<br>
Stav: #{t(ticket.state.name)}<br>
</div>
<br>

<br>
<div>
  <a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket.id}" target="zammad_app">Zobraziť v #{config.product_name}</a>
</div>
