新工單 (#{ticket.title})

<div>你好：#{recipient.firstname}:</div>
<br>
<div>"<b>#{current_user.longname}</b>" 客戶創建了一張標題為 (#{ticket.title}) 的新工單。 </div>
<br>
<div>
群組： #{ticket.group.name}<br>
擁有者： #{ticket.owner.fullname}<br>
狀態： #{t(ticket.state.name)}<br>
</div>
<br>
<% if @objects[:article] %>
  <div>
   資訊：
   <blockquote type="cite">
   #{article.body_as_html}
   </blockquote>
   </div>
<% end %>
<br>
<div>
   <a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket.id}" target="zammad_app">在 #{config.product_name} 檢視此工單 </a>
</div>
