Artikel tiket diperbarui (#{ticket.title})

<div>Hai #{recipient.firstname},</div>
<br>
<div>
<%= @objects[:article].preferences.dig('whatsapp', 'reaction', 'author') %> bereaksi dengan <%= @objects[:article].preferences.dig('whatsapp', 'reaction', 'emoji') %> terhadap pesan dari #{article.created_by.fullname}:
</div>
<br>
<% if @objects[:article] %>
  <div>
    <blockquote type="cite">
    #{article.body_as_html}
    </blockquote>
  </div>
<% end %>
<br>
<div>
  <a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket.id}/#{article.id}" target="zammad_app">Lihat ini di #{config.product_name}</a>
</div>
