A jegy (#{ticket.title}) egyesítve lett egy másik jegybe

<div>Kedves #{recipient.firstname}!</div>
<br>
<div>
A jegyet (#{ticket.title}) „<b>#{current_user.longname}</b>” egyesítette egy másik jegybe.
</div>
<br>
<div>
  <a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket.id}" target="zammad_app">Nézze meg itt: #{config.product_name}</a>
</div>
