#{config.fqdn}의 #{config.product_name} 초대

<div>안녕하세요 #{user.firstname}님,</div>
<br>
<div>저(#{current_user.firstname} #{current_user.lastname})는 #{config.product_name} - 고객 지원 플랫폼에 초대합니다.</div>
<br>
<div><a href="#{config.http_type}://#{config.fqdn}/#password_reset_verify/#{token.token}">여기</a>를 클릭하여 비밀번호를 설정하세요.</div>
<br>
<div>즐거운 시간 되세요,</div>
<br>
<div>#{current_user.firstname} #{current_user.lastname}</div>
<br>
<div>#{config.product_name} 팀</div>
