A(z) #{config.product_name} jelszavának visszaállítása

<div>Kedves #{user.firstname}!</div>
<br>
<div>Ön vagy valaki más ezzel az e-mail-címmel próbált bejelentkezni. Azonban ez az e-mail-cím már használatban van.</div>
<br>
<div>Ha vissza szeretné állítani a jelszavát, akkor kattintson az alábbi hivatkozásra (vagy másolja le és illessze be az URL-t a böngészőjébe):</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div>Ez a hivatkozás olyan oldalra vezeti Önt, ahol megváltoztathatja a jelszavát.</div>
<br>
<div>Ha nem szeretné visszaállítani a jelszavát, akkor hagyja figyelmen kívül ezt az üzenetet. A jelszava nem lesz visszaállítva.</div>
<br>
<div>Az Ön #{config.product_name} csapata</div>
