Reset kata sandi #{config.product_name} Anda

<div>Hai #{user.firstname},</div>
<br>
<div>Anda atau orang lain mencoba mendaftar dengan alamat email ini. Namun, email ini sudah digunakan.</div>
<br>
<div>Jika Anda ingin mereset kata sandi Anda, klik tautan di bawah ini (atau salin dan tempel URL ke browser Anda):</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div>Tautan ini membawa Anda ke halaman di mana Anda dapat mengubah kata sandi Anda.</div>
<br>
<div>Jika Anda tidak ingin mereset kata sandi Anda, abaikan pesan ini. Kata sandi Anda tidak akan direset.</div>
<br>
<div>Tim #{config.product_name} Anda</div>
