#{config.product_name} 비밀번호 재설정

<div>안녕하세요 #{user.firstname}님,</div>
<br>
<div>귀하 또는 다른 누군가가 이 이메일 주소로 가입을 시도했습니다. 그러나 이 이메일은 이미 사용 중입니다.</div>
<br>
<div>비밀번호를 재설정하려면 아래 링크를 클릭하세요(또는 URL을 복사하여 브라우저에 붙여넣으세요):</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div>이 링크는 비밀번호를 변경할 수 있는 페이지로 이동합니다.</div>
<br>
<div>비밀번호를 재설정하지 않으려면 이 메시지를 무시하세요. 비밀번호는 재설정되지 않습니다.</div>
<br>
<div>#{config.product_name} 팀</div>
