Repor a palavra-passe do #{config.product_name}

<div>Olá #{user.firstname},</div>
<br>
<div>Você ou outra pessoa tentou registar-se com este endereço de email. No entanto, este email já está a ser utilizado.</div>
<br>
<div>Se pretender repor a sua palavra-passe, clique no link abaixo (ou copie e cole a URL no seu navegador):</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div>Este link leva-o a uma página onde pode alterar a sua palavra-passe.</div>
<br>
<div>Se não pretender repor a sua palavra-passe, ignore esta mensagem. A sua palavra-passe não será alterada.</div>
<br>
<div>A sua equipa #{config.product_name}</div>
