Reset your #{config.product_name} password

<div>#{user.firstname} 您好：</div>
<br>
<div>您或其他人嘗試使用此電子郵件地址註冊。但是，此電子郵件地址已被使用。</div>
<br>
<div>如果您想重設密碼，請點擊以下連結（或複製 URL 並貼上到瀏覽器）：</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div>此連結將帶您進入一個可以更改密碼的頁面。</div>
<br>
<div>如果您不想重設密碼，請忽略此訊息。您的密碼將不會重設。</div>
<br>
<div>您的 #{config.product_name} 團隊</div>
