Uji Tiket!\r
\r
<div>Kepada #{agent.firstname},</div>\r
<br>\r
<div>Ini adalah <b>uji tiket</b>. Saya seorang pelanggan dan saya perlu bantuan</div>\r
<br>\r
<div>#{customer.fullname}</div>\r
<br>\r
<div>Tim #{config.product_name} Anda</div>
