---
http_interactions:
- request:
    method: get
    uri: https://ai.zammad.com/api/v1/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ZAMMAD_AI_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"29a2457696fce6c966ded437616c6645"
    body:
      encoding: ASCII-8BIT
      string: '{"current_user":{"id":4,"email":"mg@zammad.com","firstname":"","lastname":"","login_failed_count":null,"login_at":null,"platform_admin":false,"organization_admin":false,"active":true,"created_by_id":1,"created_at":"2025-08-21T12:12:37.604Z","updated_at":"2025-08-21T12:12:37.604Z","organization_id":null}}'
  recorded_at: Tue, 30 Sep 2025 09:43:46 GMT
- request:
    method: get
    uri: https://ai.zammad.com/api/v1/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ZAMMAD_AI_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"29a2457696fce6c966ded437616c6645"
    body:
      encoding: ASCII-8BIT
      string: '{"current_user":{"id":4,"email":"mg@zammad.com","firstname":"","lastname":"","login_failed_count":null,"login_at":null,"platform_admin":false,"organization_admin":false,"active":true,"created_by_id":1,"created_at":"2025-08-21T12:12:37.604Z","updated_at":"2025-08-21T12:12:37.604Z","organization_id":null}}'
  recorded_at: Tue, 30 Sep 2025 09:43:46 GMT
recorded_with: VCR 6.3.1
