Adminisztrátori bejelentkezés a következő rendszerbe: #{config.product_name}

<div>Kedves #{user.firstname}!</div>
<br>
<div>Adminisztrátori bejelentkezési kérést kaptunk az Ön <b>#{user.login}</b> #{config.product_name}-fiókjához.</div>
<br>
<div>Kattintson a lenti hivatkozásra (vagy másolja le és illessze be az URL-t a böngészőjébe) a folytatáshoz:</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div>Ez a hivatkozás egy olyan oldalra vezeti Önt, ahol bejelentkezhet.</div>
<br>
<div>Ha nem szeretne bejelentkezni, akkor hagyja figyelmen kívül ezt az üzenetet.</div>
<br>
<div>Az Ön #{config.product_name} csapata</div>
