Login administrasi ke #{config.product_name}

<div>Hai #{user.firstname},</div>
<br>
<div>Kami menerima permintaan untuk login administrasi untuk akun #{config.product_name} Anda <b>#{user.login}</b>.</div>
<br>
<div>Silakan klik tautan di bawah ini (atau salin dan tempel URL ke browser Anda) untuk melanjutkan:</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div>Tautan ini membawa Anda ke halaman di mana Anda dapat masuk.</div>
<br>
<div>Jika Anda tidak ingin masuk, harap abaikan pesan ini.</div>
<br>
<div>Tim #{config.product_name} Anda</div>
