#{config.product_name} 관리자 로그인

<div>안녕하세요, #{user.firstname}님.</div>
<br>
<div>회원님의 #{config.product_name} 계정 <b>#{user.login}</b>에 대한 관리자 로그인 요청을 접수했습니다.</div>
<br>
<div>계속하시려면 아래 링크를 클릭하시거나 URL을 복사해 브라우저에 붙여 넣어 주세요.</div>
<br>
<div><a href="#{url}">#{url}</a></div>
<br>
<div>이 링크를 통해 로그인 페이지로 이동합니다.</div>
<br>
<div>로그인을 원치 않으시면 이 메시지는 무시하셔도 됩니다.</div>
<br>
<div>#{config.product_name} 팀 드림</div>
