---
http_interactions:
- request:
    method: get
    uri: https://ai.zammad.com/api/v1/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ZAMMAD_AI_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"47fec0d9a8354d74b9c8f2eb569e8cac"
    body:
      encoding: ASCII-8BIT
      string: '{"current_user":{"id":2,"email":"me@zammad.com","firstname":"Martin","lastname":"Edenhofer","login_failed_count":0,"login_at":"2025-08-21T12:15:14.477Z","platform_admin":true,"organization_admin":false,"active":true,"created_by_id":1,"created_at":"2025-08-21T09:38:47.872Z","updated_at":"2025-08-21T12:15:14.495Z","organization_id":null}}'
  recorded_at: Fri, 29 Aug 2025 09:11:40 GMT
recorded_with: VCR 6.3.1
