---
http_interactions:
- request:
    method: get
    uri: https://ai.zammad.com/api/v1/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ZAMMAD_AI_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"47fec0d9a8354d74b9c8f2eb569e8cac"
    body:
      encoding: ASCII-8BIT
      string: '{"current_user":{"id":2,"email":"me@zammad.com","firstname":"Martin","lastname":"Edenhofer","login_failed_count":0,"login_at":"2025-08-21T12:15:14.477Z","platform_admin":true,"organization_admin":false,"active":true,"created_by_id":1,"created_at":"2025-08-21T09:38:47.872Z","updated_at":"2025-08-21T12:15:14.495Z","organization_id":null}}'
  recorded_at: Fri, 22 Aug 2025 10:57:25 GMT
- request:
    method: post
    uri: https://ai.zammad.com/api/v1/features/generic
    body:
      encoding: UTF-8
      string: '{"system_prompt":"","prompt":"This is a connection test. Return in
        unprettified JSON ''{ \"connected\": \"true\" }'' if you got the message.
        Respond in plain JSON format only and do not wrap it in code block markers."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer <ZAMMAD_AI_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a725ce9a82eaa7659a12881632aaa0a0"
    body:
      encoding: ASCII-8BIT
      string: '[{"model":"gemma3:27b","created_at":"2025-08-22T10:57:25.819238811Z","response":"{\"connected\":
        \"true\"}","done":true,"done_reason":"stop","context":[105,2364,107,2094,563,496,5603,1594,236761,9657,528,31508,1220,2093,10434,43836,623,18941,1083,623,3397,236775,682,236789,768,611,2506,506,3618,236761,58025,528,14529,10434,6518,1186,532,776,711,20151,625,528,3393,3355,26401,236761,106,107,105,4368,107,14937,18941,1083,623,3397,25938],"total_duration":375317831,"load_duration":70277914,"prompt_eval_count":52,"prompt_eval_duration":41998856,"eval_count":7,"eval_duration":133888282,"uuid":"f5701681-57d8-4681-8006-6e8fcc70c840"}]'
  recorded_at: Fri, 22 Aug 2025 10:57:25 GMT
recorded_with: VCR 6.3.1
